---
import EducationItem from "./EducationItem.astro";

const EDUCATION = [
  {
    date: "2025 - Present / Ongoing",
    title: "English Course",
    institution: "SMART Language Academy - Bogotá, Colombia",
    description:
      "Intensive English course focused on communication skills, listening comprehension, and speaking, with an emphasis on academic and professional contexts.",
    link: "https://smart.edu.co/home/",
  },
  {
    date: "2020 - 2025 / Completed",
    title: "Systems Engineering",
    institution: "Universidad Central - Bogotá, Colombia",
    description:
      "Program focused on software development, networking, and IT project management. Participated in interdisciplinary projects involving technology and sustainability.",
    link: "https://www.ucentral.edu.co/",
  },
];
---

<ol class="relative ml-3">
  {
    EDUCATION.map((item) => (
      <li class="mb-10 ms-4">
        <EducationItem {...item} />
      </li>
    ))
  }
</ol>
