---
import ExperienceItems from "./ExperiencieItems.astro";

const EXPERIENCIE = [
  {
    date: "March/2024 - June/2025",
    title: "Support Engineer",
    company: "CNA Sistemas & Soluciones",
    description:
      "Responsible for providing on-site and remote technical support to users across Latin America, assisting in the resolution of hardware, software, and connectivity issues. In charge of managing and monitoring assigned projects related to IT infrastructure.",
    link: "https://www.cnasistemas.com"
  },
  {
    date: "February/2024 - March/2025",
    title: "Support Technician",
    company: "Tecnología Informática TECINF SAS",
    description:
      "Provided on-site and remote technical support, addressing user requirements across Latin America. Assisted in solving issues related to hardware, software, connectivity, and office tools, as well as in the management of assigned infrastructure projects.",
    link: "https://www.tecinf.net/"
  },
  {
    date: "December/2023 - January/2024",
    title: "Technology Assistant",
    company: "Merani Proyectos",
    description:
      "Supported the management and creation of visual and didactic content for courses offered on the foundation’s learning platform, aimed at government-led academic projects.",
    link: "https://albertomerani.org/"
  },
  {
    date: "June/2022 - December/2023",
    title: "Commercial Assistant - CENASIT S.A.S",
    company: "CENASIT S.A.S",
    description:
      "Provided comprehensive support to the commercial department, including document management, promotion of in-person and virtual courses, supplier management nationwide, participant registration at the training center, portfolio management, and assistance in internal project execution such as implementing a digital participant registration system, optimizing processes by 30%.",
    link: "https://www.cenasit.com"
  }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItems {...experiencie} />
      </li>
    ))
  }
</ol>
