---
import ExperiencieItems from "./ExperiencieItems.astro";
const EXPERIENCIE = [
    {
    date: "Marzo/2024 - Junio/2025",
    title: "Ingeniero de soporte - CNA Sistemas & Soluciones",
    description: "Responsable de brindar soporte técnico en sitio y remoto a usuarios en toda Latinoamérica, ofreciendo asistencia en la resolución de problemas de hardware, software y conectividad. Encargado de la gestión y seguimiento de proyectos asignados relacionados con infraestructura tecnológica."
    },
    {
    date: "Febrero/2024 - Marzo/2025",
    title: "Tecnico de soporte - Tecnologia informatic TECINF SAS",
    description: "Responsable de brindar soporte técnico en sitio y de forma remota, atendiendo requerimientos de usuarios en toda Latinoamérica. Proveo asistencia en la resolución de problemas relacionados con hardware, software, conectividad y ofimática, así como en la gestión de proyectos asignados de infraestructura tecnológica"
    },
    {
    date: "Diciembre/2023 - Enero/2024",
    title: "Asistente de tecnologia - Merani Proyectos",
    description:
    "Apoyo de gestión y creación de contenido visual y didáctico para cursos brindados en la plataforma de estudio de la fundación, para proyectos académicos dirigidos para el gobierno."
    },
    {
    date: "Junio/2022 - Diciembre/2023",
    title: "Auxiliar Comercial - Centro de enseñanza en alturas y seguridad en el trabajo CENASIT S.A.S",
    description: "Apoyo integral al área comercial, incluyendo gestión documental, oferta de cursos presenciales y virtuales, manejo de proveedores a nivel nacional, ingreso de participantes al centro de entrenamiento, manejo y gestión de cartera, y colaboración en la gestión de proyectos internos, como la implementación de un sistema de registro digital de participantes que optimizó los procesos en un 30%."
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">  
    { 
    EXPERIENCIE.map (experiencie => (
        <li class="mb-10 ms-4">
            <ExperiencieItems {...experiencie} />
        </li>
        ))  
    }              
</ol>
