---
import ExperiencieItems from "./ExperiencieItems.astro";
const EXPERIENCIE = [
    {
    date: "Actualmente...",
    title: "Tecnico de soporte Nivel 1 - Tecnologia informatic TECINF SAS",
    description: "Realizar proyectos académicos para diferentes materias cursadas a lo largo de la carrera como bases de datos, programación orientada a objetos, estructuras de datos e ingeniería de software según lo requiera el tema estudiado."
    },
    {
    date: "Actualmente...",
    title: "Proyectos Universitarios - Universidad Central",
    description:
    "Realizo proyectos para la universidad de programación y desarrollo web en diferentes plataformas para diferentes programas"
    },
    {
    date: "Diciembre/2023 - Enero/2024",
    title: "Asistente de tecnologia - Merani Proyectos",
    description:
    "Apoyo al area de tecnologia de la empresa y asi mismo en la elaboración, creacion de diferentes cursos la plataforma WordPress"
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">  
    { 
    EXPERIENCIE.map (experiencie => (
        <li class="mb-10 ms-4">
            <ExperiencieItems {...experiencie} />
        </li>
        ))  
    }              
</ol>
